CREATE DATABASE [SerONoSer]

USE [SerONoSer]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 16/12/2019 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[NumPregunta] [int] NOT NULL,
	[Enunciado] [nvarchar](100) NOT NULL,
	[Nivel] [int] NOT NULL,
 CONSTRAINT [PK_TPreguntas] PRIMARY KEY CLUSTERED 
(
	[NumPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespNoValidas]    Script Date: 16/12/2019 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespNoValidas](
	[NumPregunta] [int] NOT NULL,
	[NumRespuesta] [int] NOT NULL,
	[Explicacion] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRespNoValidas] PRIMARY KEY CLUSTERED 
(
	[NumPregunta] ASC,
	[NumRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 16/12/2019 20:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[NumPregunta] [int] NOT NULL,
	[NumRespuesta] [int] NOT NULL,
	[PosibleRespuesta] [nvarchar](100) NOT NULL,
	[Valida] [bit] NOT NULL,
 CONSTRAINT [PK_TRespuestas] PRIMARY KEY CLUSTERED 
(
	[NumPregunta] ASC,
	[NumRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Preguntas] ([NumPregunta], [Enunciado],[Nivel]) VALUES (10, N'Premios nobel de la Paz',3)
INSERT [dbo].[Preguntas] ([NumPregunta], [Enunciado],[Nivel]) VALUES (21, N'GR que pasan por Navarra',3)
INSERT [dbo].[Preguntas] ([NumPregunta], [Enunciado],[Nivel]) VALUES (32, N'Lugares y Provincias a la que pertenecen',2)
INSERT [dbo].[RespNoValidas] ([NumPregunta], [NumRespuesta], [Explicacion]) VALUES (10, 6, N'No fue en 2005 sino en  1997')
INSERT [dbo].[RespNoValidas] ([NumPregunta], [NumRespuesta], [Explicacion]) VALUES (10, 8, N'En 1942 no se otorgó a nadie este premio, Henderson lo recibió en 1934')
INSERT [dbo].[RespNoValidas] ([NumPregunta], [NumRespuesta], [Explicacion]) VALUES (10, 9, N'1966 J. F. Kennedy murió en 1963 y nunca recibió el Premio Nobel')
INSERT [dbo].[Respuestas] ([NumPregunta], [NumRespuesta], [PosibleRespuesta], [Valida]) VALUES (10, 1, N'1992 Rigoberta Menchú (Guatemala)', 1)
INSERT [dbo].[Respuestas] ([NumPregunta], [NumRespuesta], [PosibleRespuesta], [Valida]) VALUES (10, 2, N'1993 Nelson Mandela y  F. Willem Klerk (Sudáfrica)', 1)
INSERT [dbo].[Respuestas] ([NumPregunta], [NumRespuesta], [PosibleRespuesta], [Valida]) VALUES (10, 3, N'1989 Dalai Lama (Tíbet)', 1)
GO
ALTER TABLE [dbo].[Respuestas] ADD  CONSTRAINT [DF_Respuestas_Valida]  DEFAULT ((1)) FOR [Valida]
GO
ALTER TABLE [dbo].[RespNoValidas]  WITH CHECK ADD  CONSTRAINT [FK_TRespNoValidas_TRespuestas] FOREIGN KEY([NumPregunta], [NumRespuesta])
REFERENCES [dbo].[Respuestas] ([NumPregunta], [NumRespuesta])
GO
ALTER TABLE [dbo].[RespNoValidas] CHECK CONSTRAINT [FK_TRespNoValidas_TRespuestas]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Preguntas] FOREIGN KEY([NumPregunta])
REFERENCES [dbo].[Preguntas] ([NumPregunta])
GO
ALTER TABLE [dbo].[Respuestas] CHECK CONSTRAINT [FK_Respuestas_Preguntas]
GO
